/*  CSS file  */
/* Title  Exercise cascading
  @author: Benjamin Prince
  creation date:10/3/2018
  modified date:12/4/2018
			*/
@import url('https://fonts.googleapis.com/css?family=Oswald');
ul {
	list-style-type:none;
}
main img {
	border: 1px solid black;
	margin-left:20%;
	margin-right: 20%;
	width: 30%;
}
main h2 {
	font-size: 2em;
	color: gold;
	font-family: Oswald;
}
